@use 'sass:map';
@use '../style/variables' as vars;

@mixin flex-center($justify: center, $direction: row, $align: center, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absoluteCenterX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absoluteCenterY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@mixin button($bg: $button-default) {
    // height: 37px;
    width: fit-content;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid vars.$button-border-color;
    border-radius: 6px;
    padding: 0 11px;
    background-color: vars.$bg;
    font-weight: vars.$font-weight-regular;
    font-size: vars.$font-size-base;
    position: relative;
    transition: all .1s ease-in-out;
    gap: 8px;
    cursor: pointer;
}

@mixin fade-in($duration: 0.5s, $timing: ease) {
    opacity: 0;
    animation: fadeIn $duration $timing forwards;

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
}

@mixin fade-out($duration: 0.5s, $timing: ease) {
    opacity: 1;
    animation: fadeOut $duration $timing forwards;

    @keyframes fadeOut {
        to {
            opacity: 0;
        }
    }
}

// Mixin para media queries desktop-first:
@mixin respond-to($max: null, $min: null) {

    $max: if($max, map.get(vars.$breakpoints, $max), null);
    $min: if($min, map.get(vars.$breakpoints, $min), null);

    @if $max {
        @media (width <= $max) {
            @content;
        }
    }

    @if $min {
        @media (width >= $min) {
            @content;
        }
    }
}